body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 1;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-panel img {
  max-width: 100%;
  height: auto;
}

.right-panel {
  flex: 1;
  background-color: white;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

.right-panel button {
  margin-top: 10px;
  padding: 10px;
  background-color: #003865;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.right-panel .secondary {
  background-color: lightgray;
  color: black;
}
